Package: lite-controlcenter
Version: 1.0-0040
Essential: no
Section: base
Priority: optional
Installed-Size: 1042
Depends: python3, python3-tk
Homepage: https://github.com/ralphys/litecontrolcenter
Maintainer: Ralphy RHdez <rafaelrhd3z@gmail.com>
Architecture: all
Description: Lite Control Center
 An all-in-one control center application for Linux Lite.
